body{
	background-color: #141d26;
	color:white;
}

a{
		color:white;
}
.quoteBody {
    font-size: 33px !important;
    color: white !important;
    font-family: 'times new roman';
}

.quoteAuthor {
    font-size: 28px !important;
}

.btn {
    border-radius: 0px;
}

.btn:focus {
    outline: none;
}

.tweetQuote {
    margin-top: 10px;
}
